<nav class="navbar">
    <div> <img src="../public/imgs/icons/logo.png" alt="logo"> </div>
    <form action="/dashboard" method="GET" class="form-inline">
        <div> <input type="search" name="search" class="form-control" placeholder="search..."> <!--search bar from DevSprout youtube tutorial --></div>
    </form>
    <div><img src="../public/imgs/icons/home.png" alt="home"></div>
    <div><img src="../public/imgs/icons/network.png" alt="network"></div>
    <div><img src="../public/imgs/icons/jobs.png" alt="jobs"></div>
    <div><img src="../public/imgs/icons/notes.png" alt="notes"></div>
    <div><img src="../public/imgs/icons/pizza.png" alt="pizza"></div>
    <div><img src="../public/imgs/icons/me_no-hover.png" alt="me"></div>
</nav>