<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <main>
        <h1>Welcome to the Fitz List</h1>
        <p>Work is in progress people!!!</p>
    </main>

</body>
</html>