<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
        <main>
            <a href="/newprofile">Create Profile</a>
            <div class="profilewrapper">
                <div class="bioimage"><img class="profileimg" src="https://i.imgur.com/qmznlXq.jpeg" alt="profileimage"></div>
                <div class="bio"><p>Profile here</p>
                    <textarea name="bio" id="bio" cols="30" rows="10">I'm baby lyft paleo gastropub, wolf flannel PBR&B yuccie tbh umami meggings chicharrones waistcoat ennui humblebrag. Scenester banh mi roof party biodiesel leggings, bespoke bodega boys farm-to-table lumbersexual shabby chic swag 90's art party. Roof party DIY mixtape af disrupt bruh iPhone small batch hoodie next level aesthetic. Synth banh mi slow-carb, VHS authentic actually locavore cornhole humblebrag marfa hella tonx. Jean shorts viral typewriter cred kogi. Beard swag flexitarian craft beer whatever gochujang unicorn hoodie quinoa. Iceland PBR&B jianbing kale chips kinfolk.</textarea>
                </div>
                <div class="skills"><p>Skills List</p>
                    <ul>
                        <li>Electrical</li>
                        <li>Plumbing</li>
                        <li>Tiling</li>
                        <li>Plaster/Drywall</li>
                        <li>Painting</li>
                        <li>Flooring</li>
                    </ul>
                </div>
            </div>
            <span>Project Pictures</span>
            <div class="portfolio">
                <div class="grid4"><img class="portfolioimg" src="https://i.imgur.com/sZAWcYg.jpeg" alt="electrical box"></div>
                <div class="grid5"><img class="portfolioimg" src="https://i.imgur.com/jKxhCvx.jpeg" alt="art station"></div>
                <div class="grid6"><img class="portfolioimg" src="https://i.imgur.com/fkDFt68.jpeg" alt="spray booth"></div>
                <div class="grid7"><img class="portfolioimg" src="https://i.imgur.com/0qnX0HD.jpeg" alt="store build"></div>
                <!-- <img class="grid8" src="https://i.imgur.com/u2Sh5LD.jpeg" alt="hanging bars"> -->
            </div>
        </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
