<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class="loginpages">
        <main>
            <p class="landingheader">Welcome to your trades community</p>
            <form action="/sessions" class="loginform" method="POST">
                <input type="text" name="email" id="email" class="inputbox" placeholder="Fake Email"><br><br>
                <input type="text" name="password" id="password" class="inputbox" placeholder="Fake Password"><br>
                <a href="/forgotten" class="forgot">forgot password?</a><br><br>
                <input type="button" class="buttons" onclick="location.href='/join';" value="Sign In"><br>
                <p>------------- or -------------</p>
                <input type="button" class="buttons" onclick="location.href='/users/join/'" value="Join now"><br>

            </form>
            <img src="https://i.imgur.com/pARFAW1.png" class="loginimg" alt="gender trades">
        </main>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>