<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="loginpages">
        <main>
            <p class="landingheader">Enter a Fake Email Not your real one!</p>
            <form action="/users" class="loginform" method="POST">
                <input type="text" name="email" id="email" class="inputbox" placeholder="Fake Email"><br><br>
                <input type="text" name="password" id="password" class="inputbox" placeholder="Fake Password"><br>
                <a href="/forgotten" class="forgot">forgot password?</a><br><br>
                <input type="button" class="buttons" onclick="location.href='/join';" value="Join now"><br>
            </form>
            <img src="https://i.imgur.com/pARFAW1.png" class="loginimg" alt="gender trades">
        </div>
    </span>
    <%- include('../partials/footer.ejs') %>
</body>
</html>