<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head.ejs') %>
<body>
	<%- include('../partials/nav.ejs') %>
	<main>
        <h1>You Need to be Logged In for that Feature</h1><br><br>
		<h1>Head back to <a href="/">Home</a></h1>

	</main>
	<%- include('../partials/footer.ejs') %>
</body>
</html>