<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>My Profile Future Enhancement</h1>
    <textarea rows="10" cols="40">This is the route that will display the 'My Profile' dashboard. For now I envision this having links to the users main profile as well as job postings. I can see it being a good exercise to be able to 'connect' with other users in the same way that LinkedIn or other social media platforms connect. </textarea><br><br>
    <a href="/profiles">Back to Home</a>
  
    <%- include('../partials/footer.ejs') %>
</body>
</html>