<!DOCTYPE html>
<html lang="en">
	<%- include('../partials/head.ejs') %>
<body>
	<%- include('../partials/nav.ejs') %>
    <header>
		<h1>Create an Job Post</h1>
	</header>
	<main>
        <h1> Hi there! </h1>
		<form action="/jobs" method="POST">
			<input type="text" name="title" placeholder="Position Seeking" /><br />
			<textarea name="body" placeholder="Tell us what you are looking for..."></textarea><br />
			<input type="submit" value="Publish Job Post" />
		</form>
	</main>
	<%- include('../partials/footer.ejs') %>
</body>
</html>
